node-red/flows.json
[
    {
        "id": "1b990fdf.5e6998",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "49af0d0e.96593c",
        "type": "serial out",
        "z": "1b990fdf.5e6998",
        "name": "To_MySensors",
        "serial": "cefc7941.5ad11",
        "x": 1140,
        "y": 160,
        "wires": []
    },
    {
        "id": "b93ed727.ec811",
        "type": "debug",
        "z": "1b990fdf.5e6998",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "d892e8a3.cdf218",
        "type": "serial in",
        "z": "1b990fdf.5e6998",
        "name": "From_MySensors",
        "serial": "cefc7941.5ad11",
        "x": 290,
        "y": 100,
        "wires": [
            [
                "b93ed727.ec811",
                "fde971a8.3e46b8"
            ]
        ]
    },
    {
        "id": "bc66feb1.18f448",
        "type": "debug",
        "z": "1b990fdf.5e6998",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1090,
        "y": 100,
        "wires": []
    },
    {
        "id": "f9bf1e28.727ec8",
        "type": "status",
        "z": "1b990fdf.5e6998",
        "name": "",
        "scope": null,
        "x": 320,
        "y": 40,
        "wires": [
            [
                "d50042c4.19f05"
            ]
        ]
    },
    {
        "id": "d50042c4.19f05",
        "type": "debug",
        "z": "1b990fdf.5e6998",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "x": 490,
        "y": 40,
        "wires": []
    },
    {
        "id": "f16326f.33d59d8",
        "type": "mqtt out",
        "z": "1b990fdf.5e6998",
        "name": "To_AWS",
        "topic": "dev/JTW/out",
        "qos": "1",
        "retain": "false",
        "broker": "b7627a8.ebe7f08",
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "d7cd04fb.9c5f9",
        "type": "mqtt in",
        "z": "1b990fdf.5e6998",
        "name": "From_AWS",
        "topic": "dev/JTW/in",
        "qos": "1",
        "broker": "d99c2199.2042d",
        "x": 910,
        "y": 100,
        "wires": [
            [
                "bc66feb1.18f448",
                "49af0d0e.96593c"
            ]
        ]
    },
    {
        "id": "fde971a8.3e46b8",
        "type": "function",
        "z": "1b990fdf.5e6998",
        "name": "setPayload",
        "func": "node.log('setTime');\nvar dt = new Date();\nvar o = {};\no.tm = dt.getTime();\no.tmIso = dt.toISOString();\no.gId = 'JTW';\no.raw = msg.payload;\nmsg.payload = o; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "f16326f.33d59d8",
                "ac1288cb.0538c8"
            ]
        ]
    },
    {
        "id": "ac1288cb.0538c8",
        "type": "debug",
        "z": "1b990fdf.5e6998",
        "name": "SetPayload Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 830,
        "y": 240,
        "wires": []
    },
    {
        "id": "82cc287b.aa1db8",
        "type": "inject",
        "z": "1b990fdf.5e6998",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 200,
        "wires": [
            [
                "6e76b5bc.09d8a4"
            ]
        ]
    },
    {
        "id": "6e76b5bc.09d8a4",
        "type": "function",
        "z": "1b990fdf.5e6998",
        "name": "SampleSensorMessage",
        "func": "msg.payload = \"10;1;1;0;0;59.4\\n\"\nnode.log(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 260,
        "wires": [
            [
                "2f8f1ce6.5b9434",
                "fde971a8.3e46b8"
            ]
        ]
    },
    {
        "id": "2f8f1ce6.5b9434",
        "type": "debug",
        "z": "1b990fdf.5e6998",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 280,
        "wires": []
    },
    {
        "id": "cefc7941.5ad11",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "b7627a8.ebe7f08",
        "type": "mqtt-broker",
        "z": "",
        "name": "To_AWS",
        "broker": "a3db62eehtn74o.iot.us-east-1.amazonaws.com",
        "port": "8883",
        "tls": "f37350d0.34b05",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "600",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d99c2199.2042d",
        "type": "mqtt-broker",
        "z": "",
        "name": "From_AWS",
        "broker": "a3db62eehtn74o.iot.us-east-1.amazonaws.com",
        "port": "8883",
        "tls": "f37350d0.34b05",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "600",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f37350d0.34b05",
        "type": "tls-config",
        "z": "",
        "name": "AWS_JTW",
        "cert": "/var/lib/node-red_cfg/thing-certificate.pem.crt",
        "key": "/var/lib/node-red_cfg/thing-private.pem.key",
        "ca": "/var/lib/node-red_cfg/VeriSign-Class 3-Public-Primary-Certification-Authority-G5.pem",
        "certname": "0e4d5eddcf-certificate.pem.crt",
        "keyname": "0e4d5eddcf-private.pem.key",
        "caname": "VeriSign-Class 3-Public-Primary-Certification-Authority-G5.pem",
        "servername": "",
        "verifyservercert": false
    }
]