node-red/flows.json
[
  {
    "id": "229cf56e.233122",
    "type": "serial out",
    "z": "71baf93a.41dfc",
    "name": "To_MySensors",
    "serial": "5c226b0.45eb694",
    "x": 1140,
    "y": 160,
    "wires": []
  },
  {
    "id": "89f369ee.dc7988",
    "type": "debug",
    "z": "71baf93a.41dfc",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 530,
    "y": 100,
    "wires": []
  },
  {
    "id": "a16a5637.047f88",
    "type": "serial in",
    "z": "71baf93a.41dfc",
    "name": "From_MySensors",
    "serial": "5c226b0.45eb694",
    "x": 290,
    "y": 100,
    "wires": [["89f369ee.dc7988", "69f07291.918514"]]
  },
  {
    "id": "3e7434d7.33143c",
    "type": "debug",
    "z": "71baf93a.41dfc",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 1090,
    "y": 100,
    "wires": []
  },
  {
    "id": "b8a4fc60.8b38e",
    "type": "status",
    "z": "71baf93a.41dfc",
    "name": "",
    "scope": null,
    "x": 320,
    "y": 40,
    "wires": [["104f8636.e1b46a"]]
  },
  {
    "id": "104f8636.e1b46a",
    "type": "debug",
    "z": "71baf93a.41dfc",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "x": 490,
    "y": 40,
    "wires": []
  },
  {
    "id": "a8026d2.00d189",
    "type": "mqtt out",
    "z": "71baf93a.41dfc",
    "name": "To_AWS",
    "topic": "dev/JTW/out",
    "qos": "1",
    "retain": "false",
    "broker": "ee9b1d27.6b276",
    "x": 780,
    "y": 180,
    "wires": []
  },
  {
    "id": "cd17aaf0.a042f8",
    "type": "mqtt in",
    "z": "71baf93a.41dfc",
    "name": "From_AWS",
    "topic": "dev/${GW_ID}/in",
    "qos": "1",
    "broker": "be11a1c1.19fa98",
    "x": 910,
    "y": 100,
    "wires": [["3e7434d7.33143c", "229cf56e.233122"]]
  },
  {
    "id": "69f07291.918514",
    "type": "function",
    "z": "71baf93a.41dfc",
    "name": "setPayload",
    "func": "node.log('setTime');\nvar dt = new Date();\nvar o = {};\no.tm = dt.getTime();\no.tmIso = dt.toISOString();\no.gId = '${GW_ID}';\no.raw = msg.payload;\nmsg.payload = o; \nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 510,
    "y": 200,
    "wires": [["a8026d2.00d189", "8eeff3b7.06f6d8"]]
  },
  {
    "id": "8eeff3b7.06f6d8",
    "type": "debug",
    "z": "71baf93a.41dfc",
    "name": "SetPayload Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 830,
    "y": 240,
    "wires": []
  },
  {
    "id": "da24d5de.62eba",
    "type": "inject",
    "z": "71baf93a.41dfc",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 160,
    "y": 200,
    "wires": [["b6d7c288.6a387"]]
  },
  {
    "id": "b6d7c288.6a387",
    "type": "function",
    "z": "71baf93a.41dfc",
    "name": "SampleSensorMessage",
    "func": "msg.payload = \"10;1;1;0;0;59.4\\n\"\nnode.log(msg.payload);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 310,
    "y": 260,
    "wires": [["ec5726d2.030b08", "69f07291.918514"]]
  },
  {
    "id": "ec5726d2.030b08",
    "type": "debug",
    "z": "71baf93a.41dfc",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 570,
    "y": 280,
    "wires": []
  },
  {
    "id": "5c226b0.45eb694",
    "type": "serial-port",
    "z": "",
    "serialport": "/dev/ttyACM0",
    "serialbaud": "115200",
    "databits": "8",
    "parity": "none",
    "stopbits": "1",
    "newline": "\\n",
    "bin": "false",
    "out": "char",
    "addchar": false
  },
  {
    "id": "ee9b1d27.6b276",
    "type": "mqtt-broker",
    "z": "",
    "name": "To_AWS",
    "broker": "a3db62eehtn74o.iot.us-east-1.amazonaws.com",
    "port": "8883",
    "tls": "6f78113f.eb09f8",
    "clientid": "",
    "usetls": true,
    "compatmode": true,
    "keepalive": "600",
    "cleansession": true,
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": ""
  },
  {
    "id": "be11a1c1.19fa98",
    "type": "mqtt-broker",
    "z": "",
    "name": "From_AWS",
    "broker": "a3db62eehtn74o.iot.us-east-1.amazonaws.com",
    "port": "8883",
    "tls": "6f78113f.eb09f8",
    "clientid": "",
    "usetls": true,
    "compatmode": true,
    "keepalive": "600",
    "cleansession": true,
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": ""
  },
  {
    "id": "6f78113f.eb09f8",
    "type": "tls-config",
    "z": "",
    "name": "AWS_JTW",
    "cert": "",
    "key": "",
    "ca": "",
    "certname": "0e4d5eddcf-certificate.pem.crt",
    "keyname": "0e4d5eddcf-private.pem.key",
    "caname": "VeriSign-Class 3-Public-Primary-Certification-Authority-G5.pem",
    "verifyservercert": true
  }
]
